<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ระบบจัดการสต็อกยางและแม็ก{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dr1mvng0e/image/upload/v1749139683/favicon-16x16_qglrom.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dr1mvng0e/image/upload/v1749139683/favicon-32x32_mqkifl.png">

    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dr1mvng0e/image/upload/v1749139683/apple-touch-icon_mo3lzy.png">

    <link rel="icon" type="image/png" sizes="192x192" href="https://res.cloudinary.com/dr1mvng0e/image/upload/v1749139684/android-chrome-192x192_urzdvt.png">

    <link rel="shortcut icon" href="https://res.cloudinary.com/dr1mvng0e/image/upload/v1749139683/favicon_svybox.ico"> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="YOUR_EXTERNAL_URL/your_main_logo.png" alt="Your Company Logo" class="site-logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">หน้าหลัก</a></li>
                    <li><a href="{{ url_for('tires') }}">จัดการยาง</a></li>
                    <li><a href="{{ url_for('wheels') }}">จัดการแม็ก</a></li>
                    <li><a href="{{ url_for('stock_movement') }}">รับเข้า / จ่ายออกสต็อก</a></li>
                    <li><a href="{{ url_for('daily_stock_report') }}">รายงานสต็อกประจำวัน</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 ระบบจัดการสต็อกยางและแม็ก</p>
    </footer>
</body>
</html>